<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Portfolio</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/vendor.css">

    <!-- script
    ================================================== -->
    <script src="../static/js/modernizr.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="../static/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/images/icons/favicon-16x16.png">
    <link rel="manifest" href="../static/site.webmanifest">

</head>

<body id="top">


    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader" class="dots-fade">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>


    <!-- header
    ================================================== -->
    <header class="s-header">

        <div class="header-logo">
            <a class="smoothscroll" href="#portfolio">
                <img src="../static/images/logo.svg" alt="Homepage">
            </a>
        </div>

        <div class="header-content">
    
            <nav class="row header-nav-wrap">
                <ul class="header-nav">
                    <li><a class="smoothscroll" href="#hero" title="Intro">Home</a></li>
                    <li><a class="smoothscroll" href="#portfolio" title="Works">Portfolio</a></li>
                    <li><a class="smoothscroll" href="#about" title="About">About</a></li>
                    <li><a class="smoothscroll" href="#services" title="Services">Expertise</a></li>
                    <li><a class="smoothscroll" href="#contact" title="Contact us">Say Hello</a></li>
                </ul>
            </nav> <!-- end header-nav-wrap -->

            <a href="../static/Resume_AndrewReid.pdf" class="btn btn--stroke btn--small" download>Download Resume</a>

        </div> <!-- end header-content -->

        <a class="header-menu-toggle" href="#0"><span>Menu</span></a>

    </header> 


    <!-- hero
    ================================================== -->
    <section id="hero" class="s-hero target-section" data-parallax="scroll" data-image-src="../static/images/hero-bg-3000.jpg" data-natural-width=3000 data-natural-height=2000 data-position-y=center>

        <div class="row hero-content">

            <div class="column large-full">

                <h1>
                Hey, I'm Andrew Reid, <br>
                a Data & Software <br>
                Engineer, based in <br>
                the Twin Cities. <br>
                </h1>

                <ul class="hero-social">
                    <li>
                        <a href="https://www.linkedin.com/in/andrew-reid-28b79352/" title="">LinkedIn</a>
                    </li>
                    <li>
                        <a href="https://github.com/gnudrew" title="">GitHub</a>
                    </li>

                </ul> <!-- end hero-social -->

            </div> 

        </div> <!-- end hero-content -->

        <div class="hero-scroll">
            <a href="#portfolio" class="scroll-link smoothscroll">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 24l-8-9h6v-15h4v15h6z"/></svg>
            </a>
        </div> <!-- end hero-scroll -->

    </section> <!-- end s-hero -->


    <!-- portfolio
    ================================================== -->
    <section id="portfolio" class="s-portfolio target-section">

        <div class="right-vert-line"></div>

        <div class="row s-portfolio__header">
            <div class="column large-6 medium-8 tab-full">
                <div class="section-intro" data-num="01" data-aos="fade-up">
                    <h3 class="subhead">Portfolio</h3>
                    <h1 class="display-1">
                        A selection of recent projects I have worked on.
                    </h1>
                </div>
            </div>
        </div> <!-- s-porfolio__header -->

        <div class="row s-porfolio__list block-large-1-2 block-tab-full collapse">

            <div class="column" data-aos="fade-up">
                <div class="folio-item">
                    <div class="folio-item__thumb">
                        <a class="folio-item__thumb-link" href="../static/images/portfolio/gallery/g-moodbooster.png" title="Moodbooster Mobile" data-size="1050x700">
                            <img src="../static/images/portfolio/moodbooster.png" 
                                 srcset="../static/images/portfolio/moodbooster.png 1x, ../static/images/portfolio/moodbooster@2x.png 2x" alt="">
                        </a>
                    </div>
                    <div class="folio-item__info">
                        <div class="folio-item__cat">Python, Kivy</div>
                        <h4 class="folio-item__title">Moodbooster Mobile App</h4>
                    </div>
                    <a href='../static/MoodBooster_installer.apk' title="Project Link 2" class="folio-item__project-link2" download>Download for Android</a>
                    <a href='https://github.com/gnudrew/-kivy-MoodboosterMobileApp' title="Project Link" class="folio-item__project-link">Explore my Code</a>
                    <div class="folio-item__caption">
                        <p>A multiscreen mobile app.</p>
                    </div>
                </div>
            </div> <!-- end column -->
            <div class="column" data-aos="fade-up">
                <div class="folio-item">
                    <div class="folio-item__thumb">
                        <a class="folio-item__thumb-link" href="../static/images/portfolio/gallery/g-molecular-dynamics.png" title="Molecular Dynamics" data-size="1050x700">
                            <img src="../static/images/portfolio/molecular-dynamics.png" 
                                 srcset="../static/images/portfolio/molecular-dynamics.png 1x, ../static/images/portfolio/molecular-dynamics@2x.png 2x" alt="">
                        </a>
                    </div>
                    <div class="folio-item__info">
                        <div class="folio-item__cat">High Performance Computing (HPC), Linux, Analysis</div>
                        <h4 class="folio-item__title">Molecular Dynamics Simulation</h4>
                    </div>
                    <a href="../static/MolecularDynamicsSimulation.pptx" title="Project Link" class="folio-item__project-link" download>Download my Presentation</a>
                    <div class="folio-item__caption">
                        <p>Carry out and analyze computationally expensive simulations at full-atomic resolution.</p>
                    </div>
                </div>
            </div> <!-- end column -->
            <div class="column" data-aos="fade-up">
                <div class="folio-item">
                    <div class="folio-item__thumb">
                        <a class="folio-item__thumb-link" href="../static/images/portfolio/gallery/g-bookstore.png" Title="Bookstore Database" data-size="1050x700">
                            <img src="../static/images/portfolio/bookstore.png" 
                                 srcset="../static/images/portfolio/bookstore.png 1x, ../static/images/portfolio/bookstore@2x.jpg 2x" alt="">
                        </a>
                    </div>
                    <div class="folio-item__info">
                        <div class="folio-item__cat">Python, Sqlite3, Tkinter </div>
                        <h4 class="folio-item__title">Bookshop Database App</h4>
                    </div>
                    <a href='https://github.com/gnudrew/-sqlite3-tkinter-BookshopDatabaseApp' title="Project Link" class="folio-item__project-link">Explore my Code</a>
                    <div class="folio-item__caption">
                        <p>A desktop GUI app with a database backend.</p>
                    </div>
                </div>
            </div> <!-- end column -->
            <div class="column" data-aos="fade-up">
                <div class="folio-item">
                    <div class="folio-item__thumb">
                        <a class="folio-item__thumb-link" href="../static/images/portfolio/gallery/g-motion-detector.gif" title="The Lamp" data-size="1050x700">
                            <img src="../static/images/portfolio/motion-detector.gif" 
                                 srcset="../static/images/portfolio/motion-detector.gif 1x, ../static/images/portfolio/motion-detector@2x.gif 2x" alt="">
                        </a>
                    </div>
                    <div class="folio-item__info">
                        <div class="folio-item__cat">Python, Computer Vision (openCV)</div>
                        <h4 class="folio-item__title">Webcam Motion Detector</h4>
                    </div>
                    <a href='https://github.com/gnudrew/-openCV-WebcamMotionDetector' title="Project Link" class="folio-item__project-link">Explore my Code</a>
                    <div class="folio-item__caption">
                        <p>Script that initializes the webcam and detects moving objects.</p>
                    </div>
                </div>
            </div> <!-- end column -->

        </div> <!-- folio-list -->

    </section> <!-- end portfolio -->


    <!-- about
    ================================================== -->
    <section id="about" class="s-about target-section">

        <div class="s-about__section s-about__section--profile">

            <div class="row">
                <div class="column large-6 medium-8 tab-full">

                    <div class="section-intro" data-num="02" data-aos="fade-up">
                        <h3 class="subhead">About Me</h3>
                        <h1 class="display-1">I tackle challenges by combining clear conceptual grasp with a hands-on problem solving approach.</h1>
                    </div>

                    <div class="profile-pic" data-aos="fade-up">
                        <img src="../static/images/profile-pic.jpg" 
                             srcset="../static/images/profile-pic.jpg 1x, ../static/images/profile-pic@2x.jpg 2x" alt="">
                    </div>

                    <h3 data-aos="fade-up">Profile</h3>

                    <p data-aos="fade-up">
                    I have a Master of Science in Computational Physics as well as a 
                    Bachelor's in Physics and a Bachelor's in Mathematics. After my previous work as
                    a Researcher at the University of Minnesota utilizing highly parallelized resources at the Minnesota Supercomputing Institute, 
                    I'm excited to transition my career into Software and Data Engineering. As a stepping stone, I've completed certification in Python 3 through Udemy, 
                    I've built several projects from the ground up shown on GitHub, 
                    and I currently work part-time as a Software Engineer with Aligned Applications, where I'm honing my skills in Angular.js, NgRx, 
                    and Azure DevOps working on an industry-scale web application. 
                    </p>

                </div>
            </div>

        </div> <!-- end s-about__section--profile -->

    </section> <!-- end s-about -->


    <!-- expertise
    ================================================== -->
    <section id="services" class="s-services target-section h-dark-bg">
        
        <div class="row s-services__content">

            <div class="vert-line"></div>

            <div class="column large-6 s-services__leftcol">
                <div class="section-intro" data-num="03" data-aos="fade-up">
                    <h3 class="subhead">Expertise</h3>

                    <h1 class="display-1">
                    I focus on creating value & efficiency in software applications.
                    </h1>
                </div>

                <p class="lead" data-aos="fade-up">
                    Given my experience with
                    Python, C++ and SQL, combined with a solid mathematical background in statistics and advanced algorithms, I'm confident that I will
                    hit the ground running and contribute to the continued success of your company or startup. I'm open for work. Feel free to reach out and say hello!
                </p>
            </div> <!-- end  s-services--leftcol -->

            <div class="column large-6">
                <ul class="services-list" data-aos="fade-up"> 
                    <li class="services-list__item">
                        <div class="services-list__item-header">
                            <h5>Python</h5>
                        </div>
                        <!-- <div class="services-list__item-body">
                            <p>
                            Sed cursus turpis vitae tortor. Sed aliquam ultrices mauris. 
                            Fusce fermentum. Curabitur turpis. Nunc egestas, augue at pellentesque 
                            laoreet, felis eros vehicula leo, at malesuada velit leo quis pede. 
                            In consectetuer turpis ut velit. Curabitur at lacus.
                            </p>
                        </div> -->
                    </li> <!-- services-list__item -->
                    <li class="services-list__item">
                        <div class="services-list__item-header">
                            <h5>C++</h5>
                        </div>
                        <!-- <div class="services-list__item-body">
                            <p>
                            Suspendisse non nisl sit amet velit hendrerit rutrum. Etiam vitae tortor. 
                            Ut tincidunt tincidunt erat. Praesent nonummy mi in odio. Praesent ut 
                            ligula non mi varius sagittis. Curabitur turpis. Nunc egestas, augue at pellentesque 
                            laoreet, felis eros vehicula leo, at malesuada velit leo quis pede.
                            </p>
                        </div> -->
                    </li> <!-- services-list__item -->
                    <li class="services-list__item">
                        <div class="services-list__item-header">
                            <h5>SQL Databases</h5>
                        </div>
                        <!-- <div class="services-list__item-body">
                            <p>
                            Nullam quis ante. Sed libero. Curabitur at lacus ac velit ornare lobortis. 
                            Morbi nec metus. Aenean vulputate eleifend tellus. Nullam vel sem. Nam ipsum risus, 
                            rutrum vitae, vestibulum eu, molestie vel, lacus. Phasellus ullamcorper ipsum rutrum nunc. 
                            Cras dapibus. Praesent egestas neque eu enim.
                            </p>
                        </div> -->
                    </li> <!-- services-list__item -->
                    <li class="services-list__item">
                        <div class="services-list__item-header">
                            <h5>Angular.js</h5>
                        </div>
                        <!-- <div class="services-list__item-body">
                            <p>
                            Ut id nisl quis enim dignissim sagittis. Pellentesque egestas, neque sit amet convallis 
                            pulvinar, justo nulla eleifend augue, ac auctor orci leo non est. Phasellus volutpat, 
                            metus eget egestas mollis, lacus lacus blandit dui, id egestas quam mauris ut lacus. 
                            Cras dapibus. Praesent adipiscing.
                            </p>
                        </div> -->
                    </li> <!-- services-list__item -->
                    <li class="services-list__item">
                        <div class="services-list__item-header">
                            <h5>High Performance Computing</h5>
                        </div>
                        <!-- <div class="services-list__item-body">
                            <p>
                            Praesent ac sem eget est egestas volutpat. Nam pretium turpis et arcu. Quisque ut nisi. 
                            Vestibulum rutrum, mi nec elementum vehicula, eros quam gravida nisl, id fringilla neque 
                            ante vel mi. Phasellus dolor. Aenean vulputate eleifend tellus. Nullam vel sem. Nam ipsum risus, 
                            rutrum vitae, vestibulum eu, molestie vel.
                            </p>
                        </div> -->
                    </li> <!-- services-list__item -->
                    <li class="services-list__item is-active">
                        <div class="services-list__item-header">
                            <h5>Problem Solving</h5>
                        </div>
                        <!-- <div class="services-list__item-body">
                            <p>
                            Fusce egestas elit eget lorem. Donec venenatis vulputate lorem. 
                            Nam at tortor in tellus interdum sagittis. Vestibulum fringilla 
                            pede sit amet augue. Praesent blandit laoreet nibh.
                            Donec quam felis, ultricies nec, pellentesque eu.
                            </p>
                        </div> -->
                    </li> <!-- services-list__item -->

                </ul> <!-- end services-list -->
            </div>

        </div> <!-- s-services__content -->

    </section> <!-- end s-services -->


    <!-- footer
    ================================================== -->
    <footer id="contact" class="s-footer h-dark-bg">
        
        <div class="right-vert-line"></div>

        <div class="row s-footer__main">
            <div class="column large-6">
                <div class="section-intro" data-aos="fade-up">
                    <h3 class="subhead">Get In Touch</h3>

                    <h1 class="display-1">
                    Have an idea or a concept that really excites you?
                    Let's turn that idea into reality. Shoot me a message.
                    </h1>
                </div>

                <div class="footer-email-us">
                    <a href="mailto:#0" class="btn btn--primary h-full-width">Let's Talk</a>
                </div>
            </div>

            <div class="column large-5">
                <div class="footer-contacts">
                    <div class="footer-contact-block" data-aos="fade-up">
                        <h5 class="footer-contact-block__header">
                            Email
                        </h5>
                        <p class="footer-contact-block__content">
                            <a href="mailto:andrew.reid.mn@gmail.com">Andrew.Reid.mn@gmail.com</a>
                        </p>
                    </div> <!-- end footer-contact-block -->
                    <br>
                    <div class="footer-contact-block" data-aos="fade-up">
                        <h5 class="footer-contact-block__header">
                            Social
                        </h5>
                        <ul class="footer-contact-block__list">
                            <li><a href="https://www.linkedin.com/in/andrew-reid-28b79352/">LinkedIn</a></li>
                            <li><a href="https://github.com/gnudrew">GitHub</a></li>
                        </ul>
                    </div> <!-- end footer-contact-block -->
                </div>
            </div>
        </div> <!-- end s-footer__main -->

        <div class="row s-footer__bottom">
            <div class="column large-full ss-copyright">
                <span>© Copyright Ethos 2019</span> 
                <span>Design by <a href="https://www.styleshout.com/">StyleShout</a></span>
            </div> <!-- end ss-copyright -->

            <div class="ss-go-top">
                <a class="smoothscroll" title="Back to Top" href="#top">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 0l8 9h-6v15h-4v-15h-6z"/></svg>
                </a>
            </div> <!-- end ss-go-top -->
        </div> <!-- end s-footer__bottom -->

    </footer> <!-- end s-footer -->


    <!-- photoswipe background
    ================================================== -->
    <div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">

        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">

            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div><button class="pswp__button pswp__button--close" title="Close (Esc)"></button> <button class="pswp__button pswp__button--share" title=
                    "Share"></button> <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button> <button class="pswp__button pswp__button--zoom" title=
                    "Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div><button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button> <button class="pswp__button pswp__button--arrow--right" title=
                "Next (arrow right)"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>

        </div>

    </div> <!-- end photoSwipe background -->


    <!-- Java Script
    ================================================== -->
    <script src="../static/js/jquery-3.2.1.min.js"></script>
    <script src="../static/js/plugins.js"></script>
    <script src="../static/js/main.js"></script>

</body>